@import 'theme.scss';
@import 'badge_only.scss';

/* 
 * pre styles
 *
 */

div[class^='highlight'] pre {
	background:#272822;
	color:#eee;
}

.na {
	color:#fff;
}
.nf {
	color:#f62671;
}
.s1 {
	color:#fd971f;
}
.m, .nv {
	color:#e6db74;
}
div[class^='highlight'] td.code, .linenos {
	margin:0;
	padding:0;
	border:0;
}
.linenodiv pre {
	border-right:1px solid #4d4d4d;
}

.wy-nav-side {
	position: absolute;
}

.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	background:#ff0037;
	color:#fff;
	border:0;
}

.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current>a:hover {
	background:darken(#ff0037,10%);
}

.wy-menu-vertical a:active {
	background:#eee;
}

.icon-home {
	display:none !important;
}

.wy-side-nav-search {
	background:none;
}

.wy-nav-content-wrap, .wy-nav-content {
	background:#fff;
}

.wy-nav-content {
	max-width: inherit;
}

*, *:before, *:after {
	transition:all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
	color:#333;
}



header {
	background:#343131;
	&:after {
		content: '';
		clear:both;
		display: block;
	}
	ul {
		li {
			display: none;
			&.toctree-l1 {
				display: block;
			}
			float:left;
			&.current a {
				background:#ff0037;
			}
		}
		a {
			color:#fff;
			display:block;
			padding:30px 24px;
			&:visited {
				color:#eee;
			}
			&:hover {
				color:#f5f5f5;
			}
		}
	}
	.logo {
		img {
			width:150px;
		}
		width:300px;
		text-align: center;
		padding:30px 25px 7px 25px;
		display: block;
		float:left;
	}
	
}

.sticky--active {
	.wy-nav-side {
		position: fixed;
	}
}

@media screen and (max-width: 768px) {
	header {
		display:none;
	}
}